##### Dirs and files for ignoring #####


##### dirs #####
Docs/html


##### C++Builder2010 #####
Build/Tests/C++Builder2010/Debug/
Build/Tests/C++Builder2010/Release/
Build/Tests/C++Builder2010/*.~dsk
Build/Tests/C++Builder2010/*.local
Build/Tests/C++Builder2010/*.dsk
Build/Tests/C++Builder2010/*.rc

Build/Libs/C++Builder2010/Debug/
Build/Libs/C++Builder2010/Release/


##### C++BuilderXE #####
Build/Tests/C++BuilderXE/Debug/
Build/Tests/C++BuilderXE/Release/
Build/Tests/C++BuilderXE/*.~dsk
Build/Tests/C++BuilderXE/*.local
Build/Tests/C++BuilderXE/*.dsk
Build/Tests/C++BuilderXE/*.rc

Build/Libs/C++BuilderXE/Debug/
Build/Libs/C++BuilderXE/Release/


##### C++BuilderXE2 #####
Build/Tests/C++BuilderXE2/Win32/
Build/Tests/C++BuilderXE2/*.~dsk
Build/Tests/C++BuilderXE2/*.local
Build/Tests/C++BuilderXE2/*.dsk
Build/Tests/C++BuilderXE2/*.rc

Build/Libs/C++BuilderXE2/Win32/


##### G++_win #####
Build/Tests/G++_win/Debug/
Build/Tests/G++_win/Release/
Build/Tests/G++_win/.settings/

Build/Libs/G++_win/Debug/
Build/Libs/G++_win/Release/
Build/Libs/G++_win/.settings/

##### G++_linux #####
Build/Tests/G++_linux/Debug/
Build/Tests/G++_linux/Release/
Build/Tests/G++_linux/.settings/

Build/Libs/G++_linux/Debug/
Build/Libs/G++_linux/Release/
Build/Libs/G++_linux/.settings/


##### G++_freebsd #####
Build/Tests/G++_freebsd/Debug/
Build/Tests/G++_freebsd/Release/
Build/Tests/G++_freebsd/.settings/

Build/Libs/G++_freebsd/Debug/
Build/Libs/G++_freebsd/Release/
Build/Libs/G++_freebsd/.settings/


##### VC++2008 #####
Build/Tests/VC++2008/Debug/
Build/Tests/VC++2008/Release/
Build/Tests/VC++2008/*.ncb
Build/Tests/VC++2008/*.suo
Build/Tests/VC++2008/*.user

Build/Libs/VC++2008/Debug/
Build/Libs/VC++2008/Release/
Build/Libs/VC++2008/*.ncb
Build/Libs/VC++2008/*.suo
Build/Libs/VC++2008/*.user


##### VC++2010 #####
Build/Tests/VC++2010/Debug/
Build/Tests/VC++2010/Release/
Build/Tests/VC++2010/*.ncb
Build/Tests/VC++2010/*.suo
Build/Tests/VC++2010/*.user
Build/Tests/VC++2010/*.sdf
Build/Tests/VC++2010/*.opensdf
Build/Tests/VC++2010/ipch

Build/Libs/VC++2010/Debug/
Build/Libs/VC++2010/Release/
Build/Libs/VC++2010/*.ncb
Build/Libs/VC++2010/*.suo
Build/Libs/VC++2010/*.user
Build/Libs/VC++2010/*.sdf
Build/Libs/VC++2010/*.opensdf
Build/Libs/VC++2010/ipch


##### files #####
TODO.txt
*.log
*.core
