################################################################################
#   File: .gitignore
#   Note: Dirs and files ignoring by GIT
#
################################################################################


################################################################################
# dirs
Docs/html/
[Bb]in

################################################################################
# files
Include/xLib/Core/xConfig_gen.h

