##### Dirs and files for ignoring #####


##### dirs #####
Docs/html


##### C++Builder2010 #####
Build/Tests/C++Builder2010/Debug/
Build/Tests/C++Builder2010/Release/
Build/Tests/C++Builder2010/*.~dsk
Build/Tests/C++Builder2010/*.local
Build/Tests/C++Builder2010/*.dsk
Build/Tests/C++Builder2010/*.rc

Build/Libs/C++Builder2010/Debug/
Build/Libs/C++Builder2010/Release/


##### C++BuilderXE #####
Build/Tests/C++BuilderXE/Debug/
Build/Tests/C++BuilderXE/Release/
Build/Tests/C++BuilderXE/*.~dsk
Build/Tests/C++BuilderXE/*.local
Build/Tests/C++BuilderXE/*.dsk
Build/Tests/C++BuilderXE/*.rc

Build/Libs/C++BuilderXE/Debug/
Build/Libs/C++BuilderXE/Release/


##### C++BuilderXE2 #####
Build/Tests/C++BuilderXE2/Win32/
Build/Tests/C++BuilderXE2/*.~dsk
Build/Tests/C++BuilderXE2/*.local
Build/Tests/C++BuilderXE2/*.dsk
Build/Tests/C++BuilderXE2/*.rc

Build/Libs/C++BuilderXE2/Win32/


##### MinGW #####
Build/Tests/MinGW/Debug/
Build/Tests/MinGW/Release/
Build/Tests/MinGW/.settings/

Build/Libs/MinGW/Debug/
Build/Libs/MinGW/Release/
Build/Libs/MinGW/.settings/

##### GCC_linux #####
Build/Tests/GCC_linux/Debug/
Build/Tests/GCC_linux/Release/
Build/Tests/GCC_linux/.settings/

Build/Libs/GCC_linux/Debug/
Build/Libs/GCC_linux/Release/
Build/Libs/GCC_linux/.settings/


##### GCC_freebsd #####
Build/Tests/GCC_freebsd/Debug/
Build/Tests/GCC_freebsd/Release/
Build/Tests/GCC_freebsd/.settings/

Build/Libs/GCC_freebsd/Debug/
Build/Libs/GCC_freebsd/Release/
Build/Libs/GCC_freebsd/.settings/


##### VC++2008 #####
Build/Tests/VC++2008/Debug/
Build/Tests/VC++2008/Release/
Build/Tests/VC++2008/*.ncb
Build/Tests/VC++2008/*.suo
Build/Tests/VC++2008/*.user

Build/Libs/VC++2008/Debug/
Build/Libs/VC++2008/Release/
Build/Libs/VC++2008/*.ncb
Build/Libs/VC++2008/*.suo
Build/Libs/VC++2008/*.user


##### VC++2010 #####
Build/Tests/VC++2010/Debug/
Build/Tests/VC++2010/Release/
Build/Tests/VC++2010/*.ncb
Build/Tests/VC++2010/*.suo
Build/Tests/VC++2010/*.user
Build/Tests/VC++2010/*.sdf
Build/Tests/VC++2010/*.opensdf
Build/Tests/VC++2010/ipch

Build/Libs/VC++2010/Debug/
Build/Libs/VC++2010/Release/
Build/Libs/VC++2010/*.ncb
Build/Libs/VC++2010/*.suo
Build/Libs/VC++2010/*.user
Build/Libs/VC++2010/*.sdf
Build/Libs/VC++2010/*.opensdf
Build/Libs/VC++2010/ipch

##### VC++2012 #####
Build/Tests/VC++2012/Debug/
Build/Tests/VC++2012/Release/
Build/Tests/VC++2012/*.ncb
Build/Tests/VC++2012/*.suo
Build/Tests/VC++2012/*.user
Build/Tests/VC++2012/*.sdf
Build/Tests/VC++2012/*.opensdf
Build/Tests/VC++2012/ipch

Build/Libs/VC++2012/Debug/
Build/Libs/VC++2012/Release/
Build/Libs/VC++2012/*.ncb
Build/Libs/VC++2012/*.suo
Build/Libs/VC++2012/*.user
Build/Libs/VC++2012/*.sdf
Build/Libs/VC++2012/*.opensdf
Build/Libs/VC++2012/ipch


##### files #####
TODO.txt
*.log
*.core
