####################################################################################################
# \file  .gitignore
# \brief Dirs and files ignoring by Git
#
####################################################################################################


html/
latex/
xml/

Doxyfile.bak
DoxygenLayout.xml.bak
DoxygenLayout_new.xml

